body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:grey;
  text-align: center;
  border: 2px sololid red;
}
.logo{
  margin:0px 20px 0px 20px;
}

nav ul li {
  display: inline-block;
  color: indigo;
  padding-inline: 20px;
}
.h1 {
  color:darkslateblue;
}
.paragraph {
    text-align: center;
  color: aliceblue;
  text-decoration: lightcyan;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.btn {
    color:lawngreen;
}
.btn-green {
  color:green;
  padding:7px 10px 7px 10px
}
.images{
    box-shadow:2px 5px 6px lightgoldenrodyellow;
    border-radius: 100%;
}

.images img {
    border-radius: 50%;
}
.button{
    padding:10px;
}
.p{background-color:gainsboro;
  text-align: center;
  color:inherit;
}
.name{
padding-bottom:4px;
}
.email{
  padding-bottom:4px;
}
.banner
{
  background-color:#A4C451;
}
.footnote{
  color: blue;
  float:right;
}
.love{
  float:left;
  color:crimson;
}